body,html{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
}
.header{
  background-color: indigo;
  color: #eee;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
.content{
  height: 80vh;
  background-color: aliceblue;
  display: flex;
}
.playerSide, .aiSide{
  width: 50vw;
  color: #5A5A5A;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aiSide{
  width: 50vw;
  background-color: rgb(233, 240, 247);
}
.playerBoard, .aiBoard{
  width: 35vw;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.cell{
  border: #5A5A5A solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hit{
  background-color: tomato;
  color: #5A5A5A;
  font-size: large;
  font-weight: bold;
}
.occupied{
  background-color: rgb(89, 179, 71);
}
.missed{
  background-color: lightblue;
  color: #5A5A5A;
  font-size: large;
  font-weight: bold;
}

.footer{
  height: 5vh;
  background-color: indigo;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}